@charset "UTF-8";
@import url(//fonts.googleapis.com/css?family=Lobster);
@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);

body {
    font-family:'Noto Sans JP', "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    color:#242424;
    letter-spacing: 0.02em;
}
h1 {
    font-size: 28px;
    font-weight: bold;
}
h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 10px auto;
}
ul {
    list-style: none;
}
/*トップメニュー*/
.top-menu {
    display: flex;
    justify-content: space-between;
    align-items:center;
    height:50px;
    margin:20px;
}

.main-vsual img {
    display: block;
    width:100% ;
    height: auto;
}
.logo {
    float:left;
    font-size:20px;
    font-weight:bold;
    margin:auto 10px;
}
.menu ul {
    margin: auto 50px;
}
.menu li {
    float:right;
    padding: 0px 10px;
}

@media(max-width:768px) {
    .clear {
        clear: left;
    }
}

/*概要*/
.Introduction {
    text-align: center;
    margin: 20px auto;
}

/*コース紹介*/
.course {
    display:block;
    margin: 20px auto;
}
.course-menu {
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.course img {
    width:300px;
    height:auto;
}
