@charset "UTF-8";
@import url(//fonts.googleapis.com/css?family=Lobster);
@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);

body {
    max-width: 1024px;
    font-family:'Noto Sans JP', "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    color:#242424;
    line-height:1.6;
    letter-spacing: 0.02em;
    text-align:center;
}
ul {
    list-style: none;
}

.top-menu p {
    font-size:20px;
}

.top-menu li {
    float:left;
    margin: auto 5px;
}
