@charset "UTF-8";
@import url(//fonts.googleapis.com/css?family=Lobster);
@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);

body {
    font-family:'Noto Sans JP', "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    color:#242424;
    line-height:1.6;
    letter-spacing: 0.02em;
    text-align:center;
}
ul {
    list-style: none;
}

.top-menu {
    height:500px;
    margin:20px;
}
.logo {
    font-size:20px;
    font-weight:bold;
}
.menu li {
    float:right;
    margin: auto 5px;
}

.Introduction p {
    margin:20px;   
}
.Introduction img {
    float:left;
    width:300px;
    height:auto;
}

.course li {
    float:right;
}
.course img {
    width:200px;
    height:auto;
}
